In [15]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("TestSpark") \
    .getOrCreate()

In [16]:
numbers = [('Bob',25),('Dang',26),('Ngoc Anh',25),('Mai',17),('Dang',26)]
rdd = spark.sparkContext.parallelize(numbers)

In [17]:
#RRDs Action

In [18]:
rdd.collect()

[('Bob', 25), ('Dang', 26), ('Ngoc Anh', 25), ('Mai', 17), ('Dang', 26)]

In [19]:
# Count action
count = rdd.count()
print('Total Number: ',count)

Total Number:  5

In [20]:
#First action: Retrieve the first element
first_element = rdd.first()
print('The first element is: ',first_element)

The first element is:  ('Bob', 25)

In [21]:
#Take action: Retrieve n element
taken_element = rdd.take(2)
print('The first two elements are: ',taken_element)

The first two elements are:  [('Bob', 25), ('Dang', 26)]

In [22]:
#RDD Transformation

In [23]:
# Map transformation: Convert name to uppercase
mapped_rdd = rdd.map(lambda x: (x[0].upper(),x[1]))
mapped_rdd.collect()

[('BOB', 25), ('DANG', 26), ('NGOC ANH', 25), ('MAI', 17), ('DANG', 26)]

In [24]:
# Filter transformation: filter records where age is greater than 25
filtered_rdd = rdd.filter(lambda x: x[1]>20)
filtered_rdd.collect()

[('Bob', 25), ('Dang', 26), ('Ngoc Anh', 25), ('Dang', 26)]

In [25]:
# ReduceByKey transformation: Calculate the total age for each name
reduced_rdd = rdd.reduceByKey(lambda x,y: x+y)
reduced_rdd.collect()

[('Dang', 52), ('Mai', 17), ('Bob', 25), ('Ngoc Anh', 25)]

In [26]:
# SortBy transformation: Sort the RDD by age in descending order
sorted_rdd = rdd.sortBy(lambda x: x[1], ascending=False)
sorted_rdd.collect()

[('Dang', 26), ('Dang', 26), ('Bob', 25), ('Ngoc Anh', 25), ('Mai', 17)]

In [27]:
# Save RDDs to text file and red RDDs from text file

In [ ]:
# Save action: Save the RDD to a text file
rdd.saveAsTextFile('output.txt')

In [ ]:
# Create RDD from a text file
rdd_text = spark.sparkContext.textFile('output.txt')
rdd.collect()

In [ ]:
#Using DataFrames